
.articleimage {
	width: 45%;
	min-width: 360px;
	height: auto;
	margin-right: calc(5% - 2px);
	margin-top: 22px;
	border: solid grey 1px;
}

.rightimg {
	float: right;
	margin-right: 0px;
	margin-left: calc(5% - 2px);
}

@media (max-width: 844px) {
	.articleimage {
		width: 100%;
		margin: 0px;
		margin-top: 22px;
		float: left;
	}
}
