#gimage {
	background:url(/img/gradientsml.png) no-repeat;
	position: fixed;
	z-index: -1;
	width: 100vw;
	height: 100vh;
}

.fullpage {
	padding-top: 78px;
	height: calc(100vh - 78px);
}

.bodycontent {
	background-color: transparent;
	margin: auto;
	padding: 22px;
	max-width: 900px;
}

#maintitle {
	font-size: 64px;
	margin-top:0px;
	margin-bottom: 12px;
}

#subtitle {
	margin-top: 12px;
	font-size: 22px;
}

#subsubtitle {
	font-size:18px;
}

.pb15vh {
	padding-bottom: 15vh;
}

.firstpage {
	height: calc(100vh - 156px);
	margin: 0px;
	padding: 0px;
}

.title {
	height:auto;
	text-align: center;
	position: relative;
    	top: calc(45% - 95px);

}

.contentBox {
	text-align: left;
	margin: 0;
}

h2 {
	border-bottom: 1px #333333 solid;
	margin: 0px 0px 16px 0px;
	padding: 0px 0px 8px 0px;
	height:auto;
	display:inline-block;
	width: 100%;
}

.divwhitespace78 {
	height: 78px;
}

.portfolioentry {

}

div.portfolioentry h3 {
	margin: 22px;
	width: calc(100% - 338px);
	display: inline-block;

}

div.portfolioentry p {
	margin: 22px;
	width: calc(100% - 338px);
	display: inline-block;
	margin-top: 0px;

}

div.portfolioentry video {
	border: solid grey 1px;
}

.rectangle {
	height: 180px;
	width: 2px;
	background-color: #cecece;
	position: fixed;
	right: 100px;
	bottom: 0px;
}


.githubicon {
	height: 40px;
	width: 40px;
	color: #cecece;
	position: fixed;
	right: 80px;
	bottom: 60px;
	filter: brightness(0.97);

}

.githubicon:hover {
	filter: brightness(0) saturate(100%) invert(86%) sepia(3%) saturate(3178%) hue-rotate(314deg) brightness(100%) contrast(101%);
}
.linkedinicon {
	height: 38px;
	width: 38px;
	color: #cecece;
	position: fixed;
	right: 141px;
	bottom: 61px;
	filter: brightness(0.97);

}

.linkedinicon:hover {
	filter: brightness(0) saturate(100%) invert(86%) sepia(3%) saturate(3178%) hue-rotate(314deg) brightness(100%) contrast(101%);
}

.portfolioimage {
	width: 30%;
	min-width: 270px;
	height: auto;
	float: right;
	margin-top: 22px;
	margin-right: 22px;
}

@media (max-width: 1280px) {
  .linkedinicon {
	  opacity: 0.4;
  }
}

@media (max-width: 1160px) {
  .githubicon {
	  opacity: 0.4;
  }
}

@media (max-width: 800px) {
  .linkedinicon {
	  display:none;
  }
}

@media (max-width: 800px) {
  .githubicon {
	  display:none;
  }
}

.collapsingtext {
	width: 100%;
	height: 100%;
	margin: 0px;
}

@media (max-width: 793px) {
	.collapsingtext {
		display: none;
	}
	.portfolioimage {
		display:none;
	}
	div.portfolioentry p {
		margin-left: 0px;
		margin-right: 0px;
		width: 100%;

	}
	div.portfolioentry span {
		margin-left: 0px;
		margin-right: 0px;
		width: 100%;
	}
	div.portfolioentry h3 {
		margin-left: 0px;
		margin-right: 0px;
		width: 100%;
	}
}
