.Navbar {
	z-index: 1;
	position: fixed;
	top: 0px;
	width: calc(100vw - 80px);
	padding: 30px 40px;
	background-color: #050505;
}

.RightAlign {
	position: relative;
	float: right;
}

.Small {
	height: 2ex;
}

.nounderline {
	text-decoration:none;
}

.Navbar a {
	text-decoration:none;
}

a {
	color: #eeeeee;
	-o-transition:color .15s linear;
	-ms-transition:color .15s linear;
	-moz-transition:color .15s linear;
	-webkit-transition:color .15s linear;
	transition:color .15s linear;
}

a:hover {
	color: #ffcccc;
}

@media (max-width: 734px) {
	.pagelinks {
		display: none;
	}
}

.Navbar a {
	margin-left: 13px;
	margin-right: 13px;
}

.spacer {
	margin-left: 13px;
	margin-right: 13px;
}
